{% extends "layoutAdmin.html" %}
{% block content %}

<div class="displayprop">
<h1 class="text-center">Fee Pending Details</h1>
<br>

    {% if posts[0] %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    Student ID
                </th>
                <th scope="col"> 
                    Name
                </th>
                <th scope="col">
                    Class
                </th>
                <th scope="col">
                    Fees Due
                </th>
                <th scope="col">
                    Due Date
                </th>
                <th scope="col">
                    Status
                </th>
            </tr>
        </thead>
        
        {% for post in posts%}
        <tbody>
            <tr>
                <th scope="row">
                    {{post.Sid}}
                </th>
                <td>
                    {{ post.Name }}
                </td>
                <td>
                    {{ post.Class }}
                </td>
                <td>
                    {{ post.amt }}
                </td>
                <td>
                    {{ post.due_date }}
                </td>
                <td class="table-danger">
                    {{ post.status }}
                </td>
            </tr>
        </tbody>
        
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('sendNotification') }}" class="btn btn-primary">Send Email Notification</a>
    {% else %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <th class="col">
                Fee Status
            </th>
        </thead>
        <tbody class="text-center">
            <tr>
                <td class="table-success">
                    All Paid!
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    
</div>

{% endblock content%}
