.custom{
     padding-left: 20px; 
    padding-bottom: 10px;
    padding-top:15px;
}
.navb{
  display: flex;
  flex-direction: row;
  margin-left:20px
}

.custom2{
  background-color: #e6e8e6;
}
img{
  top:0;
  width: 70px;
  margin-left: 5%;
}

  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 12%;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
 
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

.loginpage{
  margin-left: 250px;
  margin-right: 500px;
}

.displayprop {
  margin-left: 280px;
  margin-right: 100px;
  margin-top: 20px;
}

.marginclass {
  margin-right: 10px;
}

.pos{
  position:fixed;
    top:0;
    width: 100%;
}

.center{
  margin-top:10%;
  margin-left: 30%;
}
.event-container {
 max-width: 800px;
 margin: 0 auto;
 
}

.event-container h3.year {
 font-size: 20px;
 text-align: left;
 border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
 border: 1px solid;
 display: flex;
 border-radius: 8px;
 margin: 32px 0;
}

.event .event-left {
 min-width: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px 25px;
 text-align: center;
 border-radius: 8px;
}

.event .event-left .date {
 font-size: 20px;
}

.event .event-left .month {
 font-size: 16px;
}

.event .event-center {
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 0 24px;
}

.event .event-center h3.event-right {
 font-size: 24px;
 margin: 24px 0 10px 0;
 color:#2a2b2c;
 text-transform: uppercase;
}

.event-description {
 padding: 10px;
 text-align: justify;
}
.event-timing {
 /* background: #2a2b2c; */
  display: flex; 
 align-items: center; 
 justify-content: center;
 width: 100px;
 padding: 5px; 
 border-radius: 16px; 
   margin: 24px;
 margin-left:200px;
  font-size: 14px; 
}
.event-timing button{
 text-decoration: none;
 color: white;
 padding: 10px;
 font-size: 20px;
 border-radius: 16px; 
 border:none;
 /* margin: 30% 30% 10% 150%; */
}

.createevent{
  padding:20px;
}
